.detailed_perf_text{
  color: #6ac6bb !important;
  font-size: 10px;
}
.text-header{
  color: #6ac6bb !important;
}
.bg-black{
  background-color: #111 !important;
}
.nav-bg{
  background-color: #6ac6bb !important;
}
.text-blue{
  color: #6ac6bb !important;
}
.img-profile{
  max-width: 100px;
  max-height: 100px;
}
.bg-red{
  background-color: #ec353a !important;
}
.login-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-img{
  width: 80%;
}

.dash_info{
  font-size: 14px;
}

.font_header_tab{
  font-size: 18px;
}
.font_header_tab1{
  font-size: 22px;
}
.font_bold{
  font-weight: bold;
}
.font_style{
  font-family: 'Poppins', sans-serif;
}
.name_header{
  font-size: 20px; 
  font-weight: bold; 
  color: #16733a;
}
.d-none{
  display: none;
}
.w-100{
  width: 100%;
}
.modal-center{
  top: 30%;
}
.text-orange{
  color: orange;
}
.text-black{
  color: #111;  
}
.text-black:hover{
  color: #111;  
}
.p15 {
  padding: 15px;
}
.p20{
  padding: 20px;
}
.mb-40{
  margin-bottom: 40px;
}
.mt-20{
  margin-top: 20px;
}
.huge1 {
    font-size: 25px;
}
.font11 {
    font-size: 11px;
}

/* Login */
.user_card {
  height: 380px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background-color: #1cc88a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1cc88a), to(#13855c));
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  width: 100%;
  padding: 30px 0;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #28a745 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

/* User account */
.preview-container{
  border: 1px solid #111;
}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.details-modal{
  height: 500px;
  overflow-y: auto;
}
.modal-dialog{
   /* -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;*/
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
#shareLink .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}
.social {
  padding: 10px 0;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.social:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #c4302b;
  color: white;
}
.fa-pinterest {
  background: #c8232c;
  color: white;
}
.month-picker__container{
  width: 100% !important;
}
.month-picker{
  margin: 5%;
}
.logo-size{
  width: 150px;
  border-radius: 50%;
}
table.table-bordered{
  font-size: 12px !important;
  border:1px solid #111 !important;
}
table.table-bordered td{
  padding: 0.3rem !important;
  border:1px solid #111 !important;
}
.font-12{
  font-size: 12px !important;
}
.font-13{
  font-size: 14px !important;
}
.font-14{
  font-size: 14px !important;
}
.img-nav-logo{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}